<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЕНЛ-PingPong</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        createDatabaseTables();
        updateDynamicContent();
        showPage(0);
        });
    </script>
    <div class="container">
        <header class = "header">
             <div class="header-content">
                <h1 class="header-text">ЕНЛ - PING PONG</h1>
             </div>
        </header>
        <ul class="tabs" id="not_in_start">
            <li class="tab active" onclick="showPage(0)" >Верхняя сетка</li>
            <li class="tab" onclick="showPage(1)" >Нижняя сетка</li>
        </ul>
        <div class="input-section" id="add_players_page">
            <label>Введите участников турнира через запятую:</label>
            <form action="/start_tour" method="POST">
                <div class="input-group">
                    <input name ="names" class="player-input" placeholder="Игроки">
                </div>
                <div class="button-group">
                    <button class="btn btn-primary" type="submit" onclick="showPage(0)" id="start" >Начать турнир</button>
                </div>
            </form>

        </div>

        <div class="tournament-container" id="top_grid_page">
            <div id="topgrid" class="tournament-grid"></div>
        </div>

        <div class="tournament-container" id="bottom_grid_page">
            <div id="bottomgrid" class="tournament-grid"></div>
        </div>

        <form action="/cleen" method="POST" id="cleen_button">
            <button type="submit" class="btn btn-secondary">Очистить</button>
        </form>

    </div>
    <dialog id="chooseWinner" aria-modal="true" >
        <h2 id="heading">Победитель:</h2>
        <div display = "flex">
            <form method="dialog" style="display: grid;">
                <button class="btn btn-secondary" style="margin: 5px;" type="button" onclick="closeChooseWinner(0)">
                    <p id ="dialogPlayer1"></p>
                </button>
                <button class="btn btn-secondary" style="margin: 5px;" type="button" onclick="closeChooseWinner(1)" >
                    <p id ="dialogPlayer2"></p>
                </button>
            </form>
        </div>
    </dialog>

</body>
</html>
<!-- window.chooseWinner.show() -->
 <!-- this.closest('form').submit() -->