<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЕНЛ-PingPong</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        updateDynamicContent();
        });
    </script>
    <div class="container">
        <header>
            <h1>ЕНЛ - PING PONG</h1>
        </header>

        <div class="input-section" id="add_players_page">
            <label>Введите участников турнира через запятую:</label>

            <form action="/add_players" method="POST">
                <div class="input-group">
                    <input name ="names" class="player-input" placeholder="Игроки">
                </div>
                <div class="button-group">
                    <button class="btn btn-primary" type="submit">Добавить игроков</button>
                </div>
            </form>
        </div>

        <form action="/set_top_grid" method="POST">
            <button type="submit" class="btn btn-secondary">Создать сетку</button>
        </form>
        <form action="/cleen" method="POST">
            <button type="submit" class="btn btn-secondary">Очистить</button>
        </form>
        <form action="/set_bottom_grid" method="POST">
            <button type="submit" class="btn btn-secondary">Нижняя сетка</button>
        </form>

        <div class="tournament-container" id="top_grid_page">
            <div id="topgrid" class="tournament-grid"></div>
        </div>

        <div class="tournament-container" id="bottom_grid_page">
            <div id="bottomgrid" class="tournament-grid"></div>
        </div>
    </div>
    <dialog id="chooseWinner" aria-modal="true" >
        <h2 id="heading">Победитель:</h2>
        <div display = "flex">
            <form method="dialog" style="display: grid;">
                <button class="btn btn-secondary" style="margin: 5px;" type="button" onclick="closeChooseWinner(0)">
                    <p id ="dialogPlayer1"></p>
                </button>
                <button class="btn btn-secondary" style="margin: 5px;" type="button" onclick="closeChooseWinner(1)" >
                    <p id ="dialogPlayer2"></p>
                </button>
            </form>
        </div>
    </dialog>

</body>
</html>
<!-- window.chooseWinner.show() -->
 <!-- this.closest('form').submit() -->