<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЕНЛ ping-pong</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='pictures/favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            createDatabaseTables();
            updateDynamicContent()
            showPage(0);
            setInterval(function() {updateDynamicContent();}, 5000)
        });
    </script>

    <button class="btn btn-primary menu-button" id="menuToggle" onclick="openMenu()">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <aside class="side-menu" id="sideMenu">
        <img src="{{ url_for('static', filename='pictures/icon_balls.png') }}" alt="icon_balls" class="menu-img-icon">
        <div class="menu-header">Меню</div>
        <nav class="menu-nav">
            <button class="btn btn-primary mn-div-element" onclick="openAccDialog()" id="acc_button"></button>
            <button class="btn btn-secondary mn mn-div-element" onclick="openChangePasswordDialog()" id="change_password_btn">Сменить пароль</button>
            <!-- <form action="/cleen" method="POST" id="cleen_button"> -->
            <button type="submit" class="btn btn-secondary mn mn-div-element" id="cleen_button_itself" onclick="openConfCleen()">Очистить</button>
            <!-- </form> -->
        </nav>
    </aside>  

    <div class="container">
        <div class="head-div">
            <!-- <img src="{{ url_for('static', filename='pictures/icon.png') }}" alt="icon" class="icon-img"> -->
            <div class="div-img-title">
                <img src="{{ url_for('static', filename='pictures/title.png') }}" alt="icon" class="title-img">
            </div>
       
        </div>
        <ul class="tabs" id="not_in_start">
            <svg class="undo-icon" viewBox="0 0 24 24" fill="none" onclick="history_cancel()" id="history_cancel" style="display: none;">
                <path d="M7 13L4 10L7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4 10H15C17.7614 10 20 12.2386 20 15C20 17.7614 17.7614 20 15 20H11" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div class="pages_nav">
                <li class="tab active" onclick="showPage(0)" >Верхняя сетка</li>
                <li class="tab" onclick="showPage(1)" >Нижняя сетка</li>
                <li class="tab" onclick="showPage(2)" >Гранд-финал</li>
            </div>
        </ul>

        <div class="input-section" id="add_players_page">
            <label>Введите участников турнира через запятую:</label>
            <form action="/start_tour" method="POST">
                <div class="input-group">
                    <input name ="names" class="player-input" placeholder="Игроки">
                </div>
                <label>Придумайте пароль, для управления турниром:</label>
                <div class="input-group">
                    <input type="password" name ="new_password" class="player-input" placeholder="Введите пароль">
                </div>
                <div class="input-group">
                    <input type="password" name ="new_password_two" class="player-input" placeholder="Повторите пароль">
                </div>
                <div class="button-group">
                    <button class="btn btn-primary" type="submit" onclick="showPage(0)" id="start" >Начать турнир</button>
                </div>
            </form>

        </div>

        <div class="tournament-container" id="top_grid_page">
            <div id="topgrid" class="tournament-grid"></div>
        </div>

        <div class="tournament-container" id="bottom_grid_page">
            <div id="bottomgrid" class="tournament-grid"></div>
        </div>

        <div class="tournament-container" id="grand_final_page">
        </div>

    </div>
    <div class="overlay" id="overlay"></div>
    <dialog id="chooseWinner" aria-modal="true" >
        <h2 id="heading">Победитель:</h2>
        <div display = "flex">
            <form method="dialog" style="display: grid;">
                <button class="btn btn-secondary" style="margin: 5px;" type="button" onclick="closeChooseWinner(0)">
                    <p id ="dialogPlayer1"></p>
                </button>
                <button class="btn btn-secondary" style="margin: 5px;" type="button" onclick="closeChooseWinner(1)" >
                    <p id ="dialogPlayer2"></p>
                </button>
            </form>
        </div>
    </dialog>

    <dialog id="account" aria-modal="true" >
        <h2 id="heading">Вход в режим редактора:</h2>
        <div display = "flex">
            <form action="/account" method="POST">
                <table class="dialog-table">
                    <tr>
                        <td>
                            <input type="password" name ="password" class="password-input" placeholder="Пароль">
                        </td>
                        <td>
                            <button class="btn btn-primary" type="submit" onclick="closeAccount()" id="start" >Войти</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </dialog>

    <dialog id="change_password_dialog" aria-modal="true" >
        <h2 id="heading">Сменить пароль:</h2>
        <div display = "flex">
            <form action="/change_password" method="POST">
                <table class="dialog-table">
                    <tr>
                        <td>
                            <input type="password" name ="change_psswd_new_password" class="password-input" placeholder="Новый пароль" id="chng_pswd_1">
                        </td>
                        <td rowspan="2">
                            <button class="btn btn-primary" type="submit" onclick="closeChangePasswordDialog()">Сменить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="password" name ="change_psswd_new_password_two" class="password-input" placeholder="Ещё раз"  id="chng_pswd_2">
                        </td> 
                    </tr>
                </table>
            </form>
        </div>
    </dialog>

    <dialog id="confirm_cleen" aria-modal="true" >
        <h2 id="heading">Вы уверены, что хотите всё очистить?</h2>
        <div display = "flex">
            <table class="dialog-table">
                <tr>
                    <td>
                        <button class="btn btn-secondary" type="submit" onclick="closeConfCleen()" id="start" >Нет</button>
                    </td>
                    <td>
                        <form action="/cleen" method="POST" id="cleen_button">
                            <button class="btn btn-secondary" type="submit" onclick="closeConfCleen()" id="start" >Да</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </dialog>

</body>
</html>